<h1>Eat-Da-Burger!</h1>

<main>
  <div class="container">
    
    <div class="row">
      
      <div class="col-sm-6 left-block">
        <h3>Order Up</h3>
        <form action="/burgers" method="POST">      
          <div class="input-wrap">
          <input type="text" id="name" name="burger_name" placeholder="Add a burger">
          <button type="submit" class="btn btn-success burger-btn"><i class="fas fa-plus-circle"></i></button>
          </div>
          
        </form>
        {{#each burgers}}
          {{#unless devoured}}
            <div class="row">
              <form>
                  <div class="food-btn">
                      <button class="btn btn-primary eat-btn" data-id={{this.id}}>{{this.burger_name}} <i class="fas fa-utensils"></i></button>
                  </div>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="col-sm-6">
        <h3>Clean your table please.</h3>
        <div id="right-block">
        <button id="clear-btn" class="btn btn-warning clear-btn">Recycle Trash <i class="fas fa-recycle"></i></button>
        {{#each burgers}}
          {{#if devoured}}
                <div class="burger-div">
                    <button class="btn btn-danger del-btn" data-id={{this.id}}>{{this.burger_name}} <i class="fas fa-trash-alt"></i></button>
                </div>
          {{/if}}
        {{/each}}
        </div>
      </div>
    </div>
  </div>
</main>

